[submodule "/Users/sabinabacaoanu/Tech-Venture-/test_repos/test-repo"]
	path = /Users/sabinabacaoanu/Tech-Venture-/test_repos/test-repo
	url = https://github.com/MaximeZmt/test-repo
[submodule "repograph"]
	path = repograph
	url = https://github.com/ozyyshr/RepoGraph.git
